

.box {
  height: 150px;
  width: 150px;
  float: left;
  margin: 15px;
  background-color:palegreen;
  border: 5px solid hotpink;
}

.one {
  border-radius: 10px;
}

.two {
  border-radius: 40px;
}

.three {
  border-radius: 50%;
}

.four {
  border-radius: 20px 0 20px 0;
}

.five {
  border-radius: 100% 0 0 0;
}

.six {
  border-radius: 20px;
}

.seven {
  border-radius: 100% 0 100% 0;
}

.eight {
  border-radius: 50% 50% 0 0;
}

.inset {
  background-color: #ffaa00;
  border-radius: 25px;
  box-shadow: 10px 10px 0px #996600 inset;
}

.outset {
  background-color: #ffaa00;
  border-radius: 25px;
  box-shadow: 10px 10px 0px #996600;
}

.flag {
  height: 240px;
  width: 400px;
  background-color: #006a4e;
  float: right;
  box-shadow: 6px 4px 0 black;
  margin-right: 40%;
}

.circle {
  height: 160px;
  width: 160px;
  background-color: #f42a41;
  border-radius: 50%;
  margin: 40px 0 0 80px;
  box-shadow: 6px 6px 0 black;
}